body {
    text-align: center;
    background-image: url("assets/background.jpg");
    background-position: center center;
    background-size: 100% auto;
    background-repeat: repeat;
    font-family: papyrus;
    height: 100vh;
    margin: 0;
    margin-bottom: 7em;
  }
  
  h1 {
    color: rgb(237, 202, 176);
    text-align: center;
    font-size: 3rem;
    background-color: rgb(66, 33, 9);
    height: 11vh;
    background: linear-gradient(
      to right,
      transparent 0%,
      rgb(65, 30, 5) 7%,
      rgb(65, 30, 5) 93%,
      transparent 100%
    );
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
  
  main {
    display: flex;
    justify-content: center;
    perspective: 1000px;
    margin-bottom: 1rem;
  }
  
  .card {
    width: 360px;
    height: 600px;
    font-size: 2rem;
    color: rgb(237, 202, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/backOfCard.jpg");
    background-size: cover;
    background-position: right;
    border: 8px solid #fde9d8;
    border-radius: 1.5rem;
    margin-right: .75rem;
    margin-left: .75rem;
    transform-style: preserve-3d;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  }
  
  .card:active {
    transform: scale(0.98);
  }
  
  .card.flipped {
    transform: rotateY(0deg);
  }
  
  .front-face {
    transform: rotateY(180deg);
  }

  button {
    background-color: rgb(237, 202, 176);
    border: 2px solid rgb(66, 33, 9);
    font-family: papyrus;
    border-radius: 4rem;
    color: rgb(66, 33, 9);
    font-size: 2.5rem;
    padding: .5rem 2rem;
    padding-top: 19px;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  button:active {
    transform: translateY(2px);
  }